<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  	<link rel="stylesheet" type="text/css" href="/stylesheets/mains.css">


  <%= csrf_meta_tags %>
</head>
<body>



<%= yield %>

</body>
</html>
